@theme-color: #0acacb;
@theme-color-light: #aadede;

@text-color-default: #fff;
@text-color-dark1: #000;
@text-color-dark2: #273647;
@text-color-dark3: #747474;
@text-color-dark4: #eee;
@text-color-dark5: #4e6175;

@background-color-light-2: #dde5ed;
@download-resource-background-color: #fbfbfc;
@background-color: #efefef;

@btn-default-color: #fff;
@btn-default-dark-color: #ccc;
@btn-disabled-color: @btn-default-dark-color;
@btn-primary-color: @theme-color;
@btn-danger-color: #ff6900;

@placeholder-color: #cdcdcd;

@splitter-color: #c9d6d6;

@like-color: #aab4bd;
@number-icon-background-color: #4b6074;
@number-icon-text-color: @text-color-default;