.landing {
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: @text-color-default;
  background: url(../assets/banner_seamless_bg.png) @theme-color center;
  background-size: 200px;
  width: 100%;
  max-width: inherit;
  margin-top: 0;
  position: relative;

  .background {
    position: absolute;
    bottom: 0;
    max-width: 1440px;
    width: 100%;
  }

  .title {
    font-size: 2.5em;
    color: @text-color-default;
    margin-top: 100px;
  }

  &.home {
    height: 800px;
    .title {
      font-size: 4em;
      margin: 0;
      padding: 0;
    }
  }

  .desc {
    color: @text-color-default;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .btn {
    padding: 10px 39px;
    font-size: 18px;
    letter-spacing: 3px;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;

    img {
      width: 50px;
    }

    .desc {
      font-size: 1em;
      padding-left: 8px;
      margin: 0;
    }
  }
  .row {
    position: relative;
  }
}

.description {
  .title {
    font-size: 2em;
    color: @text-color-dark1;
    width: 84%;
    font-weight: bold;
  }

  .desc {
    color: @text-color-dark5;
    width: 84%;
    text-align: center;
  }

  &.text-align-start {
    .desc, .title  {
      text-align: start;
      justify-content: flex-start;
    }
  }

  .time-line, .time-line-2 {
    width: 84%;
    margin: 10px 0;
  }
}

.figure {
  figure {
    width: 60%;
  }
}

.category {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 8%;

  .block {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 165px;
    margin: 10px 1.5%;

    &.align-start {
      align-items: flex-start;
    }

    .title {
      font-size: 16px;
      margin: 10px 0;
    }

    .desc {
      color: @text-color-dark5;
    }
  }

  &.text-align-center {
    .block .desc {
      text-align: center;
    }
  }
}

.video {
  height: 300px;
  background: url(../assets/video__seamless_bg.png) #f7f9fb;
  background-size: 200px;
  width: 100%;
  max-width: inherit;

  .title {
    font-size: 2em;
    color: @theme-color;
  }

  .desc {
    color: @theme-color;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  figure {
    width: initial;
    height: initial;
    img {
      width: 80px;
    }
  }
}

.example {
  position: relative;

  .title {
    font-size: 2em;
    color: @text-color-dark1;
  }

  .line {
    margin-bottom: 20px;
    &:before {
      content: "";
      width: 60%;
      left: 20%;
      margin-top: 10px;
      border-top: 1px solid @background-color-light-2;
      position: absolute;
      z-index: -1;
    }
  }

  .desc {
    span {
      font-size: 20px;
      color: @theme-color;
    }

    &:first-child span:after {
      content: "个行业";
      position: absolute;
      transform: translate(-25px, 24px);
      font-size: 14px;
      color: @text-color-dark5;
    }

    &:nth-child(2) span:after {
      content: "个应用场景";
      position: absolute;
      transform: translate(-50px, 24px);
      font-size: 14px;
      color: @text-color-dark5;
    }

    &:nth-child(3) span:after {
      content: "次互动受众";
      position: absolute;
      transform: translate(-86px, 24px);
      font-size: 14px;
      color: @text-color-dark5;
    }

    width: 60%;
    font-size: 0.8em;
    color: @text-color-dark5;
    margin: 0 20px;
    padding: 0 10px;
    background: #fff;
  }

  figure {
    //width: 102px;
    //height: 100px;
    margin: 0 10px;
    flex-direction: row;
    align-items: flex-end;

    figcaption {
      margin-left: 5px;
    }

    //&:first-child img, &:nth-child(2) img{
    //  width: 30px;
    //  height: 30px;
    //}
  }
}

.logos {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  img {
    max-width: 150px;
    margin: 10px;
  }
}

.try-now {
  width: 100%;
  max-width: inherit;
  background: @theme-color;
  margin-bottom: 0;
  height: 250px;

  .block {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: none;
  }

  .title {
    font-size: 2em;
    color: @text-color-default;
  }

  .desc {
    font-size: 0.8em;
    color: @text-color-default;
    margin: 10px;

    &:not(:last-child):after {
      content: ".";
      position: absolute;
      font-size: 20px;
      line-height: 5px;
      margin-left: 8px;
    }
  }

  .logo-group {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;

    figure {
      width: inherit;
      height: inherit;

      image {
        width: inherit;
        height: inherit;
      }
    }
  }

  img {
    margin: 10px;
  }

  .btn {
    letter-spacing: 0;
  }
}

.gallery {
  flex-direction: row;
  padding: 0 40px;
  position: relative;

  &.carousel-container {
    display: flex;

    .carousel {
      width: 100%;
    }

    .carousel__control {
      border-color: @theme-color;
    }

    .carousel__slide {
      background: none !important;
    }
  }

  .container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .block {
    height: 200px;
    margin: 0 20%;
    padding: 40px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.16);

    .title {
      font-size: 2em;
      color: @text-color-dark1;
      width: 60%;
      font-weight: bold;
    }

    .desc {
      color: @text-color-dark5;
      width: 60%;
      text-align: center;
    }
  }

  .quote {
    position: absolute;
    left: 20%;
    top: -40px;
  }
}

