header {
  height: 40px;
  position: fixed;
  left: 25px;
  right: 25px;
  top: 35px;
  z-index: 1;

  & > div {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;  // 1440 - 35 * 2
    margin: 0 auto;
  }
}

.logo {
  img {
    width: 150px;
  }
}

nav {
  display: flex;

  .nav-item {
    color: #fff;
    padding: 5px 0;
    margin-right: 60px;
    font-size: 16px;
  }

  .btn {
    padding: 5px 25px;
    font-size: 16px;
    letter-spacing: 0;
  }
}