header {
  height: 60px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  display: flex;
  top:0;

  &.primary {
    background: @theme-color;
  }

  &.scrolled {
    background: @header-background-color;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;  // 1440 - 35 * 2
    margin: 0 auto;
    width: 84%;
  }
}

.logo {
  img {
    width: 150px;
  }
}

nav {
  display: flex;

  .nav-item {
    color: @header-background-color;
    padding: 5px 0;
    margin-right: 60px;
    font-size: 16px;
  }

  .btn {
    padding: 5px 25px;
    font-size: 16px;
    letter-spacing: 0;
  }
}