@import "carousel.css";
@import "cl-icons.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@font-face {
  font-family: 'pingfang';
  src: url('fonts/pingfang.ttf') format('truetype');
}
* {
  color: #000;
  font-family: "pingfang", monospace;
  font-size: 14px;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
content {
  flex: 1;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 20px auto;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
figure.mini {
  width: 2em;
  height: 2em;
}
:focus {
  outline: #0acacb auto 1px;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  color: #cdcdcd;
}
.highlight {
  color: #0acacb;
}
.bold {
  font-weight: bold;
}
.input-group {
  display: flex;
}
.input-group input {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  font-weight: bold;
}
.input-group button {
  border: none;
  height: 34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 60px;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}
.more {
  cursor: pointer;
  color: #0acacb;
  font-size: 12px;
  margin-top: 10px;
}
.arrow:after {
  content: ">";
  padding-left: 2px;
}
.arrow2:before {
  content: ">>";
  padding-right: 2px;
}
.avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.avatar .name,
.avatar .job-title {
  font-size: 12px;
}
.time-line {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.time-line .stamp {
  display: flex;
  margin: 10px 0;
  align-items: center;
  position: relative;
  width: 50%;
  color: #eee;
}
.time-line .stamp:before {
  content: "";
  position: absolute;
  border-left: 3px solid;
  height: 200%;
  width: 6px;
  top: -65%;
  right: 0;
}
.time-line .stamp:after {
  content: "";
  position: absolute;
  background: #0acacb;
  border: 2px solid #fff;
  border-radius: 3px;
  top: 6px;
  width: 3px;
  height: 3px;
  right: 4px;
}
.time-line .stamp.right .desc {
  text-align: left;
  margin-left: 100%;
  padding-left: 5px;
}
.time-line .stamp .desc {
  width: 100%;
  text-align: right;
  margin-right: 20px;
}
.time-line .stamp .desc .text {
  min-width: 300px;
  margin-top: 10px;
}
.time-line .stamp .time {
  background: #0acacb;
  color: #fff;
  border-radius: 12px;
  padding: 0 12px;
}
.time-line-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.time-line-2 .stamp {
  display: flex;
  margin: 10px 0;
  align-items: flex-start;
  width: 100%;
}
.time-line-2 .stamp .time {
  background: #0acacb;
  border-radius: 12px;
  padding: 0 12px;
  color: #fff;
  margin-right: 20px;
  margin-top: 4px;
}
.time-line-2 .stamp .text-block {
  text-align: left;
  flex: 1;
  position: relative;
  padding-left: 20px;
}
.time-line-2 .stamp .text-block:before {
  content: "";
  position: absolute;
  border-left: 3px solid;
  height: 120%;
  width: 6px;
  color: #eee;
  left: 0px;
}
.time-line-2 .stamp .text-block:after {
  content: "";
  position: absolute;
  background: #fff;
  border: 2px solid #0acacb;
  border-radius: 6px;
  top: 8px;
  width: 6px;
  height: 6px;
  left: -3px;
}
.time-line-2 .stamp.disabled .time {
  background-color: #ccc;
}
.time-line-2 .stamp.disabled .text-block:after {
  border-color: #ccc;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.row {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.btn {
  background: transparent;
  border: 1px solid;
  border-radius: 23px;
  padding: 10px 30px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
}
.btn-normal {
  background: transparent;
  border: 1px solid;
  border-radius: 23px;
  padding: 5px 5px 5px 10px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
}
.btn-default {
  background-color: transparent;
  border-color: #fff;
}
.btn-default-dark {
  background-color: transparent;
  border-color: #ccc;
  color: #4e6175;
}
.btn-danger {
  background-color: #ff6900;
  border-color: #ff6900;
}
.btn-primary {
  background-color: #0acacb;
  border-color: #0acacb;
}
.btn-big {
  color: #0acacb;
  border-color: #0acacb;
  font-size: 14px;
}
header {
  height: 60px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  display: flex;
  top: 0;
  transition: all 0.5s ease-in-out;
}
header.primary {
  background: #0acacb;
}
header.scrolled {
  background: #fff;
  box-shadow: 1px 1px 8px 0px #e5edf6;
  animation: fadeIn;
}
header.scrolled nav .nav-item {
  color: #0acacb;
}
header.scrolled nav .btn {
  border-color: #0acacb;
  color: #0acacb;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 84%;
}
.logo img {
  width: 150px;
}
nav {
  display: flex;
}
nav .nav-item {
  color: #fff;
  padding: 5px 0;
  margin-right: 60px;
  font-size: 16px;
}
nav .nav-item.active {
  text-decoration: underline;
  font-weight: bold;
}
nav .btn {
  padding: 5px 25px;
  font-size: 16px;
  letter-spacing: 0;
}
.landing {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../assets/banner_seamless_bg.png) #0acacb center;
  background-size: 200px;
  width: 100%;
  max-width: inherit;
  margin-top: 0;
  position: relative;
}
.landing .background {
  position: absolute;
  bottom: -2px;
  max-width: 1440px;
  width: 100%;
}
.landing .title {
  font-size: 2.5em;
  color: #fff;
  margin-top: 100px;
}
.landing.home {
  height: 800px;
}
.landing.home .title {
  font-size: 4em;
  margin: 0;
  padding: 0;
}
.landing .desc {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.landing .btn {
  padding: 10px 39px;
  font-size: 18px;
  letter-spacing: 3px;
}
.landing .block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
}
.landing .block img {
  width: 50px;
}
.landing .block .desc {
  font-size: 1em;
  padding-left: 8px;
  margin: 0;
}
.description .title {
  font-size: 2em;
  color: #000;
  width: 84%;
  font-weight: bold;
}
.description .desc {
  color: #4e6175;
  width: 84%;
  text-align: center;
}
.description.text-align-start .desc,
.description.text-align-start .title {
  text-align: start;
  justify-content: flex-start;
}
.description .time-line,
.description .time-line-2 {
  width: 84%;
  margin: 10px 0;
}
.figure figure {
  width: 60%;
}
.category {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 8%;
}
.category .block {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 165px;
  margin: 10px 1.5%;
}
.category .block.align-start {
  align-items: flex-start;
}
.category .block .title {
  font-size: 16px;
  margin: 10px 0;
}
.category .block .desc {
  color: #4e6175;
}
.category.text-align-center .block .desc {
  text-align: center;
}
.video {
  height: 300px;
  background: url(../assets/video__seamless_bg.png) #f7f9fb;
  background-size: 200px;
  width: 100%;
  max-width: inherit;
}
.video .title {
  font-size: 2em;
  color: #0acacb;
}
.video .desc {
  color: #0acacb;
  margin-top: 10px;
  margin-bottom: 18px;
}
.video figure {
  width: initial;
  height: initial;
}
.video figure img {
  width: 80px;
}
.example {
  position: relative;
}
.example .title {
  font-size: 2em;
  color: #000;
}
.example .line {
  margin-bottom: 20px;
}
.example .line:before {
  content: "";
  width: 60%;
  left: 20%;
  margin-top: 10px;
  border-top: 1px solid #dde5ed;
  position: absolute;
  z-index: -1;
}
.example .desc {
  width: 60%;
  font-size: 0.8em;
  color: #4e6175;
  margin: 0 20px;
  padding: 0 10px;
  background: #fff;
}
.example .desc span {
  font-size: 20px;
  color: #0acacb;
}
.example .desc:first-child span:after {
  content: "个行业";
  position: absolute;
  transform: translate(-25px, 24px);
  font-size: 14px;
  color: #4e6175;
}
.example .desc:nth-child(2) span:after {
  content: "个应用场景";
  position: absolute;
  transform: translate(-50px, 24px);
  font-size: 14px;
  color: #4e6175;
}
.example .desc:nth-child(3) span:after {
  content: "次互动受众";
  position: absolute;
  transform: translate(-86px, 24px);
  font-size: 14px;
  color: #4e6175;
}
.example figure {
  margin: 0 10px;
  flex-direction: row;
  align-items: flex-end;
}
.example figure figcaption {
  margin-left: 5px;
}
.logos {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.logos img {
  max-width: 150px;
  margin: 10px;
}
.try-now {
  width: 100%;
  max-width: inherit;
  background: #0acacb;
  margin-bottom: 0;
  height: 250px;
}
.try-now .block {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-top: none;
}
.try-now .title {
  font-size: 2em;
  color: #fff;
}
.try-now .desc {
  font-size: 0.8em;
  color: #fff;
  margin: 10px;
}
.try-now .desc:not(:last-child):after {
  content: ".";
  position: absolute;
  font-size: 20px;
  line-height: 5px;
  margin-left: 8px;
}
.try-now .logo-group {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
}
.try-now .logo-group figure {
  width: inherit;
  height: inherit;
}
.try-now .logo-group figure image {
  width: inherit;
  height: inherit;
}
.try-now img {
  margin: 10px;
}
.gallery {
  flex-direction: row;
  padding: 0 40px;
  position: relative;
}
.gallery.carousel-container {
  display: flex;
}
.gallery.carousel-container .carousel {
  width: 100%;
}
.gallery.carousel-container .carousel__control {
  border-color: #0acacb;
}
.gallery.carousel-container .carousel__slide {
  background: none !important;
}
.gallery .container {
  display: flex;
  height: 100%;
  align-items: center;
}
.gallery .block {
  height: 200px;
  margin: 0 20%;
  padding: 40px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.16);
}
.gallery .block .title {
  font-size: 2em;
  color: #000;
  width: 60%;
  font-weight: bold;
}
.gallery .block .desc {
  color: #4e6175;
  width: 60%;
  text-align: center;
}
.gallery .quote {
  position: absolute;
  left: 20%;
  top: -40px;
}
footer {
  bottom: 0;
  padding: 0 40px;
  border-top: 1px solid #dde5ed;
}
footer > div {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}
footer .left {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .logo img {
  width: 130px;
}
footer .contact {
  align-self: flex-start;
  margin-right: 40px;
}
footer .contact div {
  color: #4e6175;
  display: flex;
  align-items: center;
  padding-top: 5px;
}
footer .contact img {
  width: 1.2em;
  margin-right: 1em;
}
footer .contact span {
  font-size: 12px;
}
footer .contact .phone {
  margin-bottom: 10px;
  font-weight: bold;
}
footer .desc {
  color: #4e6175;
  font-style: italic;
}
footer .copyright {
  border-top: 1px solid #dde5ed;
  display: flex;
  padding: 20px 0;
}
footer .copyright address {
  margin-right: 40px;
  color: #4e6175;
  font-style: normal;
  font-size: 12px;
}
footer .copyright span {
  color: #4e6175;
  font-size: 12px;
}
footer .block {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
footer .block .link {
  color: #4e6175;
  font-size: 12px;
  line-height: 2em;
  cursor: pointer;
}
footer .block .link:hover {
  color: #273647;
}
.margin-vertical-large {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-vertical-medium {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-horizontal-large {
  margin-left: 40px;
  margin-right: 40px;
}
.margin-horizontal-medium {
  margin-left: 20px;
  margin-right: 20px;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.job-info {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
}
.job-info .title {
  border-bottom: 1px solid #c9d6d6;
}
.job-info .title span {
  font-size: 30px;
  font-weight: bold;
}
.job-info .title .cl-icons {
  font-size: 30px;
}
.job-info .block {
  width: 50%;
  padding: 40px;
  padding-left: 0;
  box-sizing: border-box;
}
.job-info .block .job-item {
  padding-top: 35px;
}
.job-info .block .job-item a {
  font-size: 18px;
}
.how-to-join .block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 84%;
  margin-bottom: 40px;
}
.how-to-join .block .cl-icons {
  font-size: 40px;
  margin-right: 10px;
}
.how-to-join .block .cl-icons.icon-shangsheng {
  font-size: 38px;
  margin-right: 12px;
}
.how-to-join .block .cl-icons.icon-layers {
  font-size: 43px;
  margin-right: 8px;
  margin-left: -1px;
}
.how-to-join .block .cl-icons.icon-qianduankaifa {
  font-size: 30px;
  margin-right: 11px;
  margin-left: 2px;
}
.how-to-join .block .cl-icons.icon-peixun {
  font-size: 40px;
  margin-bottom: -5px;
}
.how-to-join .block .cl-icons.icon-zhenduishichang {
  font-size: 32px;
  margin-bottom: 2px;
}
.how-to-join .block .title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}
.block.vertical .cl-icons {
  font-size: 35px;
}
.block.vertical .cl-icons.icon-peixun {
  font-size: 40px;
  margin-bottom: -5px;
}
.block.align-center {
  align-items: center;
}
.avatar {
  width: 150px;
}
.name-tag {
  margin-top: 10px;
  text-align: center;
}
.name-tag.align-start {
  text-align: start;
}
.name-tag .name,
.name-tag .job-title {
  font-size: 12px;
}
.icon-number {
  margin: 0;
  font-size: 20px !important;
}
.icon-number:before {
  content: attr(data-num);
  background: #4b6074;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.join-us .location .list {
  width: 60%;
}
.join-us .location .list .block {
  margin-bottom: 10px;
}
.update-info .time-line-2 {
  width: 84%;
}
.update-info .title {
  font-size: 18px;
  font-weight: bold;
}
.update-info .sub-title {
  font-size: 16px;
  font-weight: bold;
}
.update-info .cl-icons,
.update-info .num {
  color: #aab4bd;
}
.section-group {
  margin-bottom: 50px;
}
.section-group .description {
  padding-top: 38px;
}
.section-group .category {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.section-group:not(:nth-child(5)):after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #c9d6d6;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 50px;
}
.section-group:nth-child(5) {
  margin-bottom: 65px;
}
.section-group .cl-icons {
  font-size: 40px;
  color: #273647;
  line-height: 40px;
  height: 40px;
  display: block;
}
.section-group .icon-qunzu,
.section-group .icon-shubiao,
.section-group .icon-king,
.section-group .icon-fenxi,
.section-group .icon-bingtu {
  font-size: 42px;
}
.section-group .icon-duanxin,
.section-group .icon-app,
.section-group .icon-mobanwendang,
.section-group .icon-zujianicon0,
.section-group .icon-yanjing,
.section-group .icon-rili {
  font-size: 46px;
}
.section-group .icon-xiaozhushouliucheng {
  font-size: 50px;
}
.section-group .icon-rocket,
.section-group .icon-loudou01 {
  font-size: 38px;
}
.advantage .title,
.location .title {
  font-size: 2em;
  color: #000;
  width: 84%;
}
.advantage .list,
.location .list {
  width: 84%;
  justify-content: flex-start;
}
.advantage .block,
.location .block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-right: 40px;
}
.advantage .block:last-child,
.location .block:last-child {
  margin-right: 0;
}
.advantage .block .title,
.location .block .title {
  font-size: 16px;
  margin-bottom: 5px;
  width: 100%;
}
.advantage .block .desc,
.location .block .desc {
  color: #4e6175;
}
.advantage .block .cl-icons,
.location .block .cl-icons {
  color: #aadede;
  font-size: 35px;
  margin-right: 5px;
}
.advantage .block .icon-wangzhanchengxu-,
.location .block .icon-wangzhanchengxu- {
  font-size: 40px;
}
.location .block {
  min-height: 100px;
  flex-direction: column;
  margin-right: 0;
}
.location .block .title {
  margin-bottom: 0;
}
.location .list {
  flex-wrap: wrap;
}
.location .contact {
  display: flex;
  justify-content: space-between;
  width: 84%;
  border-top: 1px solid #dde5ed;
  border-bottom: 1px solid #dde5ed;
}
.location .contact .block {
  flex-direction: row;
  align-items: center;
}
.location .contact .block .cl-icons {
  color: #747474;
}
.location .contact .block .desc {
  margin-left: 20px;
}
.location .contact .block .desc .title {
  font-size: 14px;
}
.location .contact .block .desc .text {
  color: #0acacb;
  font-size: 25px;
}
.resource {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 65px;
}
.resource .resource-category {
  width: 100px;
}
.resource .resource-category .block {
  margin-bottom: 40px;
}
.resource .resource-category .block .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.resource .resource-category .block .links {
  margin-left: 15px;
}
.resource .resource-category .block .links .item {
  font-size: 12px;
  color: #747474;
  margin-bottom: 10px;
  cursor: pointer;
}
.resource .resource-category .block .links .item:hover {
  color: #000;
}
.resource .books {
  flex: 1;
  padding: 0 40px;
  flex-wrap: wrap;
}
.resource .books .block-book {
  width: 33%;
  display: inline-block;
  padding: 0 20px 40px;
  box-sizing: border-box;
}
.resource .books .block-book .img {
  width: 100%;
}
.resource .books .block-book .title {
  font-size: 25px;
}
.resource .books .block-book .desc {
  font-size: 12px;
  color: #747474;
}
.resource-detail {
  width: 84%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 110px;
}
.resource-detail .img {
  margin-right: 50px;
}
.resource-detail .detail {
  flex: 1;
}
.resource-detail .detail .title {
  font-size: 40px;
  font-weight: bold;
}
.resource-detail .detail .tags {
  display: flex;
}
.resource-detail .detail .tags .tag {
  text-decoration: underline;
  margin-right: 20px;
}
.resource-detail .detail .content {
  margin: 40px 0;
}
.download-resource {
  display: flex;
  flex-direction: column;
  background: #fbfbfc;
  padding: 30px;
  margin: 30px 0;
}
.download-resource .title {
  margin-bottom: 20px;
}
.download-resource .desc {
  margin-bottom: 10px;
  color: #4e6175;
}
