
.input-group {
  display: flex;
  margin-bottom: -30px;

  input {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 34px;
    width: 300px;
    padding-left: 10px;
    font-weight: bold;
  }

  button {
    border: none;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 60px;
    padding: 0 15px;
    color: @text-color-default;
    //background: @btn-primary-color;
    cursor: pointer;
  }
}

.time-line {
  display: flex;
  width: 100%;
  flex-direction: column;

  .stamp {
    display: flex;
    margin: 10px 0;
    align-items: center;
    position: relative;
    width: 50%;
    color: @text-color-dark4;
    &:before {
      content: "";
      position: absolute;
      border-left: 3px solid;
      height: 200%;
      width: 6px;
      top: -65%;
      right: 0;
    }

    &:after {
      content: "";
      position: absolute;
      background: @theme-color;
      border: 2px solid #fff;
      border-radius: 3px;
      top: 6px;
      width: 3px;
      height: 3px;
      right: 4px;
    }

    &.right {
      .desc {
        text-align: left;
        margin-left: 100%;
        padding-left: 5px;
      }
    }

    .desc {
      width: 100%;
      text-align: right;
      margin-right: 20px;

      .text {
        min-width: 300px;
        margin-top: 10px;
      }
    }

    .time {
      background: @theme-color;
      color: @text-color-default;
      border-radius: 12px;
      padding: 0 12px;
    }
  }
}

.arrow {
  &:after {
    content: ">";
    padding-left: 2px;
  }
}